[submodule "ee559_spring2023"]
	path = ee559_spring2023
	url = https://github.com/keithchugg/ee559_spring2023.git
[submodule "deep-learning-with-python-notebooks"]
	path = deep-learning-with-python-notebooks
	url = https://github.com/keithchugg/deep-learning-with-python-notebooks.git
[submodule "machine_learning_refined"]
	path = machine_learning_refined
	url = https://github.com/jermwatt/machine_learning_refined.git
[submodule "ee499_ml_spring23"]
	path = ee499_ml_spring23
	url = https://github.com/keithchugg/ee499_ml_spring23.git
[submodule "MLLB"]
	path = MLLB
	url = https://github.com/Keitokuch/MLLB.git
