# ignore all .jpg and .png files
*.png
*.jpg

# ignore all directories whose names include following anywhere in the repo
**/graphs/
**/figures/
**/readData/
**/img/
**/data/

# ignore vs code adminsitrai files
*.code-workspace

# ignore zip files
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
__MACOSX/

# ignore .vscode
.vscode/
**/.vscode/
../ML.code-workspace
./ML.code-workspace
ML.code-workspace