# ignore all .jpg and .png files
*.png
*.jpg

# ignore all directpries whose names are graphs and figures
graphs/
figures/

# ignore vs code adminsitrai files
*.code-workspace

# ignore zip files
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
__MACOSX/

# ignore .vscode
.vscode/
../ML.code-workspace
./ML.code-workspace
ML.code-workspace